.form-fields > select {
    border: medium none;
    height: 50px;
    padding: 0 15px;
    width: 100%;
  }

  /* .form-fields > select option {
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    padding: 27px 0;
    font-weight: 500;
    transition: all 0.3s ease 0s;
  } */


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #f3969a;
}

.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	color: #777;
	outline: none;
	height: 40px;
	background:#fff;
	font-size: 14px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	line-height: 18px;
	padding: 10px 20px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dbdbdb;
	text-transform: capitalize;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea.form-control{
	resize: none;
	height: 210px;
}

.page-title-area1 {
  background: rgba(0, 0, 0, 0) url("img/1920x350/coffeedark.jpg") repeat scroll 0 0 / cover ;
  padding: 150px 0 90px;
  position: relative;
}